@font-face {
    font-family: 'Font';
    src: url('/fuentes/dot.ttf');
    font-weight: bold;
}

#container {
    text-align: center;
}

#images {
    border: solid;
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: scroll;
}

#current {
    width: 100%;
}

h1 {
    font-family: 'Font';
}

hr {
    width: 50%;;
}